:root {
  --primary-color: darkblue;
  --secondary-color: purple;
  --tertiary-color: white;
  --quaternary-color: grey;
}

/* set content highlight color and background */
::selection {
  background-color: black;
  color: lightcoral;
}

/* {============================= Universal Selectors =============================} */
* {
  margin: 0;
  padding: 0;
}

/* {============================= Element Selectors =============================} */
body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: 0 305px;
}

/* <------ Header Styles: ------> */
header {
  font-size: 20px;
}

/* <------ Main Styles: ------> */
main {
  margin-top: 10%;
}

form {
  margin-left: 2%;
}

/* tr button {
  background-color: white;
  color: red;
  border: 5px black solid;
  position: relative;
  top: 8px
} */
/* {============================= Class Selectors =============================} */
.card-body {
  margin: 5% 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.answerCorrect {
  background-color: lightgreen;
  color: grey;
}

.answerWrong {
  background-color: #FA2A55;
  color: black;
}

/* {============================= ID Selectors =============================} */
#submitInitialBtn {
  /* move the submit button a little bit upper */
  position: relative;
  bottom: 5px;
}

#displayScore {
  margin-bottom: 5%;
}

#quizSection #questionTitle::before {
  /* content: "Q: "; */
  content: url("../images/Q_apple.png");
  position: relative;
  top: 8px;
  right: 8px;
}

#optionA::before {
  /* content: "1.  "; */
  content: url("../images/A.png");
  position: relative;
  top: 7px;
  right: 10px;
}

#optionB::before {
  /* content: "2.  "; */
  content: url("../images/b.png");
  position: relative;
  top: 7px;
  right: 10px;
}

#optionC::before {
  /* content: "3.  "; */
  content: url("../images/C.png");
  position: relative;
  top: 7px;
  right: 10px;
}

#optionD::before {
  /* content: "4.  "; */
  content: url("../images/D.png");
  position: relative;
  top: 7px;
  right: 10px;
}