:root {
  --primary-color: darkblue;
  --secondary-color: purple;
  --tertiary-color: white;
  --quaternary-color: grey;
}

/* set content highlight color and background */
::selection {
  background-color: black;
  color: lightcoral;
}

/* {============================= Universal Selectors =============================} */
* {
  margin: 0;
  padding: 0;
}

/* {============================= Element Selectors =============================} */
/* <------ Header Styles: ------> */
header {
  font-size: 20px;
}

/* <------ Main Styles: ------> */
main {
  margin-top: 10%;
}


/* {============================= Class Selectors =============================} */
.card-body {
  margin: 5% 0;
}

/* {============================= ID Selectors =============================} */
#submitInitialBtn {
  /* move the submit button a little bit upper */
  position: relative;
  bottom: 5px;
}