:root {
  --primary-color: darkblue;
  --secondary-color: purple;
  --tertiary-color: white;
  --quaternary-color: grey;
}

/* set content highlight color and background */
::selection {
  background-color: black;
  color: lightcoral;
}

/* {============================= Universal Selectors =============================} */
* {
  margin: 0;
  padding: 0;
}

/* {============================= Element Selectors =============================} */
/* <------ Header Styles: ------> */

/* <------ Main Styles: ------> */

/* {============================= Class Selectors =============================} */

/* {============================= ID Selectors =============================} */